.userCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 50px;
}

.imageBox {
  height: 200px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imageBox img {
  -o-object-fit: cover;
     object-fit: cover;
}

.sliderSection {
  background: black;
}

.sliderSection__light {
  background: #363636;
}

.sliderSection__light .sliderSection_text {
  color: #d8d8d8;
}

.sliderSection__heading {
  color: #eeeeee;
  font-weight: 400;
}

.breaker {
  margin: 0;
  height: 1px;
  background: #202020;
}

.profileSection {
  width: 100%;
}

.profileCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: aliceblue;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 24rem;
  margin: 10px;
  border-radius: 10px;
  background-color: #1b1b1b;
  overflow: hidden;
}

.profileCard p {
  margin: 0;
}

.profileCard__name {
  font-size: 15px;
  font-weight: 200;
}

.profileCard__userType {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

.profileCard__userType_musician {
  background: #CF68C1;
  background: -webkit-gradient(linear, left top, right top, from(#ff83f0), to(#de7171));
  background: linear-gradient(to right, #ff83f0 0%, #de7171 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profileCard__userType_renter {
  background: #CF68C1;
  background: -webkit-gradient(linear, left top, right top, from(#53ff28), to(#ffdb2f));
  background: linear-gradient(to right, #53ff28 0%, #ffdb2f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profileCard__imageBox {
  width: 20em;
  position: relative;
}

.profileCard__imageBox::before {
  content: "";
  height: 3rem;
  width: 100%;
  background: #1b1b1b;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 27, 27, 0)), to(#1b1b1b));
  background: linear-gradient(180deg, rgba(27, 27, 27, 0) 0%, #1b1b1b 100%);
  position: absolute;
  bottom: 0px;
}

.profileCard__image {
  height: 14em;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profileCard__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: .7rem;
}

.profileCard__button {
  background: linear-gradient(81deg, #363636 0%, #3f3f3f 100%);
  color: #fff;
  text-decoration: none;
  padding: .3rem .7rem;
  border-radius: .4rem;
  font-size: 13px;
}

.profileCard__button:hover {
  color: #fff;
  background-color: #00aa4f;
}
/*# sourceMappingURL=dashboard.module.css.map */