$primaryColor: #00aa4f;

.userCard {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 50px;
}



.imageBox {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
}

.imageBox img {
    object-fit: cover;
}

.sliderSection {
    $self: &;
    background: black;

    &__light {
        background: rgb(54, 54, 54);

        #{$self}_text {
            color: rgb(216, 216, 216);
        }
    }
}





.profileSection {
    width: 100%;
}

.profileCard {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    height: 20rem;
    margin: 10px;
    border-radius: 10px;
    background-color: #212529;
    p {
        margin: 0;
    }
    &__name {
        margin-top: 9px;
        font-size: 15px;
    }
    &__userType {
        font-size: 14px;
    }
    &__imageBox {
        height: 7rem;
        width: 7rem;
    }

    &__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__button {
        background: $primaryColor;
        color: #fff;
        text-decoration: none;
        padding: .2rem .6rem;
        border-radius: .3rem;
        font-size: 13px;
        &:hover {
            color: #fff;
            background-color: $primaryColor;
        }
    }


}