html {
    font-size: 16px;
    background-color: black;
}

@media (max-width: 900px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 501px) {
    html {
        font-size: 12px;
    }
}

.navbar-nav a {
    font-size: 14px;

}

a.navbar-brand {
    font-size: 24px;
    color: #78b630;
    font-weight: 400;
    background: #CF68C1;
    background: -webkit-linear-gradient(to right, #b7ff43 0%, #fcff00 100%);
    background: -moz-linear-gradient(to right, #b7ff43 0%, #fcff00 100%);
    background: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn:focus,
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.btn,
.navbar-toggler {
    box-shadow: none !important
}

nav.navbar.bg-dark {
    background-color: #1b1b1b !important;
}

.insta-btn {
    padding: 1rem 3.4rem;
    background: #ffffff00;
    border-radius: 30px;
    color: #fff;
    border: 3px solid #888888;
    text-decoration: none;

    &:hover {
        color: inherit;
    }
}

.navHeight {
    height: 57px;
    background: #000;

    @media (max-width: 900px) {
        height: 52px;
    }
}

.nav-tabs {
    border: none !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
    color: rgb(185, 185, 185);
    font-size: 18px;
    font-weight: 100;

    &.active {
        background: none !important;
        border-color: #00000000 #00000000 #51d935 !important;
        color: #51d935 !important;
    }

    &:hover {
        background: none !important;
        border-color: #00000000 #00000000 #51d935 !important;
        color: #51d935 !important;
    }
}

.tab-content {
    p {
        color: #aeaeae;
        font-size: 17px;
        font-weight: 100;
    }
}


.breaker {
    margin: 0;
    height: 1px;
    background: rgb(32, 32, 32);
}

* {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}