html {
    font-size: 16px;
}

@media (max-width: 900px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 501px) {
    html {
        font-size: 12px;
    }
}

.navbar-nav a{
    font-size: 17px;
}

a.navbar-brand{
    font-size: 24px;
    color: #78b630;
    font-weight: 100;
    text-transform: uppercase;
}